body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbb;
}

a {
  color: rgb(5, 102, 57);
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header ul a {
  display: block;
  outline: 1px solid red;
  padding: 20px;
  border-right: 1px solid #aaa;
  text-decoration: none;
}

.header ul a:hover {
  background-color: #ddd;
}

.header .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
}
